*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: red;
}
body input:required:valid,
body textarea:required:valid {
	color: green;
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}

#first_sk{
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	
}
#top_menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	
	background-color: rgba(255,255,255,.8);
	z-index: 99;
	/* padding: 10px; */
}
#top_logo_div {
	/* padding-top: 10px; */
	/* padding-bottom: 5px; */
	padding: 10px;
}
#top_logo_div a {
	display: block;
	width: 95%;
	margin: 0 auto;
}
.top_logo {
	max-height: 60px;
}
.top-menu {
	list-style: none;
	display: block;
	margin: 0;
	padding-top: 3%;
}
.top-menu li {
	display: inline-block;
	padding: 10px;
	color: #333;
}
.top-menu li a {
	color: #333;
}
.top-menu li a:hover {
	color: rgba(17, 16, 16, 0.445);
	text-decoration: none;
}
#mous_indicator {
	position: absolute;
	z-index: 100;
	bottom: 0;
	left: 48%;
	font-size: 6rem;
	color: #333;
	opacity: .5;
	cursor: pointer;
}
#about_us {
	padding: 6%;
	background-image: url(../img/about_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.ovelay_d{
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,.6);
}
#const_form {
	width: 100%;
	display: block;
	padding: 10px;
}
#const_form input {
	width: 100%;
	margin: 10px;
	background-color: transparent;
	border: 1px solid gold;
	padding: 10px;
	border-radius: 15px;
	box-shadow: 1px 0px 20px 2px #3333334d;
}
.sub_b {
	display: block;
	width: 60%;
	text-align: center;
	/* margin: 10px; */
	background-color: gold;
	padding: 10px;
	text-transform: uppercase;
	border-radius: 15px;
	margin: 10px auto;
	cursor: pointer;
}
#perevagi {
	padding: 4%;
	text-align: center;
}
.sec_ttl {
	display: block;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 2.2rem;
	padding: 10px;
}
.perevag_icon {
	display: block;
	width: 100%;
	padding: 5px;
	text-align: center;
	/* border: 3px solid #333; */
	/* border-radius: 50%; */
	font-size: 6rem;
	/* height: 100px; */
	/* vertical-align: middle; */
	margin: 0;
}

.col-md-3.count_item {
	padding: 15px;
	text-align: center;
	font-size: 3.5rem;
	font-weight: 600;
	color: #f2cf18;
}
.counter {
	border: 5px solid;
	padding: 45px;
	border-radius: 50%;
	font-size: 4.8rem;
	position: relative;
	width: 180px;
	height: 180px;
	display: block;
	margin: 0 auto;
}
.counter_text {
	color: #333;
	font-size: 2rem;
	position: relative;
	padding: 25px;
}
#video_bg{
	height: 550px;
	width: 100%;
	display: block;
	position: relative;
}
#cont_inf{
	padding: 25px;
}
#map_img {
	/* height: 450px; */
	margin-top: -20px;
	max-width: 100%;
}
footer {
	padding: 30px;
	background-color: #333;
	text-align: center;
	color: #fff;
	border-top: 2px solid gold;
}